.make-reservation-details
{
    background: #f1f5f9;
    padding: 50px;
}

.reservation-detail
{
    margin-bottom: 7px;
    font-size: 15px;

}

.reservation-card
{
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 50%;
}

.reservation-card-action-area:hover
{
    background-color: #fff;
}

.reservation-hotel-image
{
    width: 300px;
    height: 200px;
}

.dots-reserve-hotel
{
    font-size: 1.5rem;
    margin-left: .5rem;
    opacity: .75;
    margin-top: .5rem;
}

.reserve-hotel
{
    color:#ffff;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .2rem 3.3rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(72,70,252,1) 29%, rgba(96,45,125,1) 71%);
    text-decoration: none;
}

.reserve-hotel:hover
{
    background: linear-gradient(90deg, rgba(96,45,125,1) 45%, rgba(72,70,252,1) 82%);
}

.reservation-message
{
    font-weight: bold;
    color: linear-gradient(90deg, rgba(72,70,252,1) 29%, rgba(96,45,125,1) 71%);
}
