main
{
  padding: 10px 5px 50px 50px;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.statistics-cards
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single
{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 5px 10px #D5D5D5;
}

.card-single div:first-child span
{
    color: #8390A2;
}

.card-single div:last-child span
{
    font-size: 3rem;
    color: purple;
}
