
.hotel-card
{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card 
{
    background: linear-gradient(to right, rgba(250, 158, 44, .8), rgba(143, 80, 251, .8));
    background-size: cover;
    box-shadow: 0 0 0 .2em rgba(97, 0, 148, 1);
    width: 800px;
    border-radius: 4px;
    display: flex;
}

.card-id
{
    display: none;
}

.card-hero
{
    flex: 0 0 50%;
    /* position: relative; */
    background-size: cover;
}

.card-hero .card-image
{
    display: block;
    width: 100%;
}


.card-content
{
    flex: 1;
    padding: 35px 35px 25px 35px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.card-info
{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.card-name
{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 8px;
    color: #3F0071;
}

.card-address
{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.card-details
{
    font-size: 12.5px;
    font-weight: 500;
}

.card-button
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.card-btn
{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    background-color: #3F0071;
    color: #fff;
    padding-bottom: 2px;
    border-radius: 12px;
    padding: 5px 20px 5px 20px;
    border: none;
    font-weight: 500;

}